@charset "utf-8";

// Custom Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.container .box{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.container .dream{
 display: flex;
 flex-direction: column;
 width: 52.5%;
 
}

.container .dream img{
 width: 100%;
 padding-bottom: 15px;
 border-radius: 5px;
}
