@charset "utf-8";

// Custom Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bob{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 margin: 40px 20px 0 20px;
}

.bob .box{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.bob .dream{
 display: flex;
 flex-direction: column;
 width: 32.5%;
 
}

.bob .dream img{
 width: 100%;
 padding-bottom: 15px;
 border-radius: 5px;
}
